* {
    box-sizing: border-box; /* Define o modelo de caixa para todos os elementos 
    - como se colocasse o elemento em uma caixa contando as bordas e o preenchimento */
  }
  
  .row::after { /* ::AFTER insere algum conteúdo após o conteúdo do elemento especificado */ 
    content: ""; /* conteudo vazio */
    clear: both; /* Impede que os elementos com float saiam da linha */
    display: block; /* Define o elemento como um bloco, ocupando toda a largura disponível */
  }
  
  [class*="col-"] {  /* Seleciona todos os elementos cuja classe contenha "col-" */
    float: left; /* colunas lado a lado - esquerda */
    padding: 15px; /* espaçamento interno */
  }
  
  /* fonte padrão para o documento html */
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  /* define o cabeçalho da página */
  .header {
    background-color: #024218;
    color: #ffffff;
    padding: 15px;
  }
  
  /* tira a formatação padrão da lista e define o estilo do menu */
  .menu ul {
    list-style-type: none; /* remove os marcadores da lista */
    margin: 0; /* margem */
    padding: 0;
  }
  
  /* itens do menu */
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #05a52b; /* cor de fundo */
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* cria uma sombra */
  }
  
  /* muda a cor do item do menu quando o mouse passa por cima */
  .menu li:hover {
    background-color: #064513;
  }
  
  /* estilo da barra lateral direita */
  .aside {
    background-color: #064513;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  /* estilo do rodapé */
  .footer {
    background-color: #024829;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* RESPONSIVIDADE: comportamento do layout em diferentes tamanhos de tela */
  [class*="col-"] {
      width: 100%;
    }
  
    /* define tamanho da tela */
    @media only screen and (min-width: 600px) {
      /*largura das colunas em porcentagem para telas maiores que 600px */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
    }
      
     /* desktop */
    @media only screen and (min-width: 768px) {
      /*largura das colunas em porcentagem para telas maiores que 768px */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;} 
    }